@using Roll20Aggregator.Models

<div class="container">
    <div class="row">
        <div class="col-3">
            <form>
                <h3>Select Die</h3>
                <div>
                    <select @onchange="DieSelected">
                        <option value=""></option>
                        @foreach (var dieType in ParsingSession.ChatLog.AllDieTypes) {
                            <option value="@dieType">@dieType</option>
                        }
                    </select>
                </div>

                <h3>Select Characters</h3>
                <div>
                    <select @onchange="CharacterSelected">
                        <option value=""></option>
                        @foreach (var character in ParsingSession.ChatLog.AllCharacters) {
                            <option value="@character">@character</option>
                        }
                    </select>
                </div>

                <div class="toppings">
                    @foreach (var character in ParsingSession.CurrentCharacters) {
                        <div class="topping">
                            @character
                            <button type="button" class="delete-topping" @onclick="@(() => RemoveCharacter(character))">x</button>
                        </div>
                    }
                </div>
            </form>
        </div>

        <div class="col">
            <h3>Results</h3>

            <table>
                <tr>
                    <th scope="col">Character</th>
                    <th scope="col">Total Rolls</th>
                    <th scope="col">Average Roll</th>
                    <th scope="col" colspan="@RollStats.RollCategories.Length" class="tableSwitchHeader">Rolls by Count</th>
                </tr>

                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    @foreach (var key in RollStats.RollCategories) {
                        <th>@key</th>
                    }
                </tr>

                <tr>
                    <td>Global Total</td>
                    <td>@ParsingSession.CurrentGlobalStats.TotalRollsCount</td>
                    <td>@ParsingSession.CurrentGlobalStats.AverageRoll</td>

                    @foreach (var key in RollStats.RollCategories) {
                        <td>@ParsingSession.CurrentGlobalStats.RollsCount[key]</td>
                    }
                </tr>

                <tr>
                    <td>Group Total</td>
                    <td>@ParsingSession.CurrentStats.Select(kvp => kvp.Value.TotalRollsCount).Sum()</td>
                    <td>@GroupAverage()</td>

                    @foreach (var key in RollStats.RollCategories) {
                        <td>@ParsingSession.CurrentStats.Select(kvp => kvp.Value.RollsCount[key]).Sum()</td>
                    }
                </tr>

                @foreach (var kvp in ParsingSession.CurrentStats) {
                    <tr>
                        <td>@kvp.Key</td>
                        <td>@kvp.Value.TotalRollsCount</td>
                        <td>@kvp.Value.AverageRoll</td>

                        @foreach (var kvp2 in kvp.Value.RollsCount) {
                            <td>@kvp2.Value</td>
                        }

                    </tr>
                }
            </table>
        </div>
    </div>

    @foreach (Roll roll in ParsingSession.ChatLog.AllRolls) {
        <p>
            @($"{roll.RolledBy} rolled a {roll.DieType}: {roll.Value}")
        </p>
    }
</div>